[run]
omit =
  */send_email_verification.py,
  */admin.py,
  */apps.py,
  */models.py,
  */utils.py,
  */migrations/*,
  */settings*,
  */tests/*,
  */urls.py,
  */wsgi/*,
  */wsgi.py,
  */asgi.py,
  */__init__.py,
  */__init__.py,
  manage.py