{% if page_obj.has_other_pages %}
<nav aria-label="Page navigation" class="my-5">
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page=1">First Page</a></li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
          Previous
        </a>
      </li>
    {% endif %}
    {% for item in page_obj.paginator.page_range %}
        {% if page_obj.number == item %}
          <li class="page-item active">
            <span class="page-link">{{ item }}</span>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ item }}">{{ item }}</a>
          </li>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
          Next
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
          Last Page
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
