{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>All Djangogramm Users</h1>
    <hr>
    <ul class="list-group">
        {% for user in page_obj %}
            {% if user.avatar.picture %}
        <div class="col mb-3" style="max-width: 780px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{ user.avatar.picture.url }}" class="img-fluid rounded-start" alt="Profile">
            </div>
            {% else %}
              <div class="row g-0">
                <div class="col-md-2">
                  <img src="{% static 'images/default_user_avatar.png' %}" width=250 height=250 class="img-fluid rounded-start" alt="Profile">
                </div>
              {% endif %}
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url 'profile' user.id %}">{{ user.username }}</a>
                </h5>
                <p class="card-text">{{ user.bio }}</p>
                <p class="card-text"><small class="text-muted">Last Updated: {{ user.last_login }}</small></p>
                </div>
            </div>
              </div>
          </div>
        </div>
        <br/>
        {% endfor %}
        </ul>
{% endblock %}