{% extends 'base.html' %}

{% block content %}
    <h1>Login</h1>
    <hr>
    <form action="{% url 'login' %}" method="post">
        {{ form }}
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
    <br>
    <p>
        Login with
        <a href="{% url 'social:begin' 'github' %}" class="btn btn-dark">GitHub</a>
    </p>
    <p>
        Login with
        <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-primary">Google</a>
    </p>
    <a href="{% url 'password_reset' %}" class="btn btn-secondary">Forgot password</a>
{% endblock %}
