{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <h1>Profile</h1>
        <br>
        <form method="post">
            {% csrf_token %}
            {% if request.user.id == user.id %}
                <p>
                    <a href="{% url 'update_profile'  %}" class="btn btn-outline-secondary">Update Profile</a>
                    <a href="{% url 'delete_profile' %}" class="btn btn-outline-danger">Delete Profile</a>
                </p>
        </form>
            {% endif %}
            {% if user.avatar %}
        <div class="col mb-3" style="max-width: 780px;">
            <div class="col-md-4">
              <img src="{{ user.avatar.url }}" class="img-fluid rounded-start" alt="Profile">
            </div>
              {% else %}
              <div class="col-md-4">
                  <img src="{% static 'images/default_user_pic.png' %}" width=300 height=300 class="img-fluid rounded-start" alt="Profile">
              </div>
        </div>
              {% endif %}
                <div class="col-md-8">
                    <div class="card-body">
                        <p>User: {{ user.username }}</p>
                        <p>Email: {{ user.email }}</p>
                        <p>Full name: {{ user.full_name }}</p>
                        <p>Bio: {{ user.bio }}</p>
                        <p>Posts: {{ post_count }}</p>
                    </div>
                </div>
          </div>
        </div>
    </div>
{% for post in posts %}
<div class="card">
    <div class="card-body">
        <br>
        <div class="container">
            <div class="alert alert-secondary" role="alert">
                <p>{{ post }}</p>
                Post publication date: {{ post.pub_date|date:"d.m.Y" }}
            </div>
            <div class="alert alert-info" role="alert">
                {% for tag in post.tags.all %}
                    #{{ tag }}
                {% endfor %}
            </div>
        </div>
        {% if request.user.id == user.id %}
        <a href="{% url 'post_update' post.id  %}" class="btn btn-outline-secondary">Update Post</a>
        <a href="{% url 'post_delete' post.id %}" class="btn btn-outline-danger">Delete Post</a>
        {% endif %}
    </div>
</div>
<br>
{% endfor %}
{% endblock %}
