{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <h1>Profile</h1>
        <form method="post">
            {% csrf_token %}
            {% if request.user in user.followed_by.all %}
                <button class="btn btn-outline-danger" name="follow" value="unfollow" type="submit">Unfollow</button>
            {% else %}
                <button class="btn btn-outline-primary" name="follow" value="follow" type="submit">Follow</button>
            {% endif %}
        </form>
        <p>
            {% if request.user.id == user.id %}
                <a href="{% url 'update_profile' %}" class="btn btn-outline-secondary">Update Profile</a>
                <a href="{% url 'delete_profile' %}" class="btn btn-outline-danger">Delete Profile</a>
        </p>
        <hr>
            {% endif %}
        {% if user.avatar %}
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{ user.avatar.url }}" class="img-fluid rounded-start" alt="Profile">
            </div>
              {% endif %}
            <div class="col-md-8">
              <div class="card-body">
        <p>User: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Full name: {{ user.full_name }}</p>
        <p>Bio: {{ user.bio }}</p>
        <strong class="card-text">Follows:</strong><br/>
            {% for following in user.follows.all %}
                <a href="{% url 'profile' following.id %}">{{ following.username }}</a><br/>
            {% endfor %}
        <strong class="card-text">Followed By:</strong><br>
            {% for following in user.followed_by.all %}
                <a href="{% url 'profile' following.id %}">{{ following.username }}</a><br/>
            {% endfor %}
    </div>
{% endblock %}